// Fonts and icons
@import '../../node_modules/@fortawesome/fontawesome-free/css/all.min.css';
@import '../../node_modules/typeface-roboto/index.css';
@import '../../node_modules/typeface-open-sans/index.css';

// Variables and mixins
@import 'variables';
@import 'mixins';

// Custom bootstrap and utilities
@import 'custom-bootstrap';
@import 'utilities-api.scss';

// MDBootstrap
@import 'mdb.free';

// Typography
.title
{
   @include title;
}
.title-small {
   @include title(1.5rem);
}
.sub-title
{
   @include sub-title;
}
.sub-title-big {
   @include sub-title(2rem);
}
.sub-title-small {
   @include sub-title(1.25rem);
}
.text
{
   @include text;
}

// Intro
.intro {
   height: 50vh;
   background-color: $primary-dark;
   
   .intro-title {
      @include custom-text($font-title, 700, 4rem, $secondary-light);
   }
   .intro-sub-title {
      @include custom-text($font-text, 700, 2.5rem, $secondary-light);
   }
   .intro-text {
      @include custom-text($font-title, 500, 1.5rem, $secondary-light);
   }

   .mask-dark {
      @include mask-dark(0.5);
   }
}

#weekly-progress-intro {
   background-image: url('../../img/backgrounds/bridge-road.jpg');
}

// Sections
.week-container {
   background-color: $primary-main;

   .week {
      margin-bottom: 2rem;
   }
   .week:last-of-type {
      margin-bottom: 0;
   }

   .title {
      text-transform: capitalize;
   }

   .title-small::first-letter,
   .sub-title-small::first-letter {
      text-transform: uppercase;
   }

   .chapter {
      margin-bottom: 2rem;
   }
   .chapter:last-of-type {
      margin-bottom: 0;
   }

   .card-project {
      margin-bottom: 2rem;
   }
   .card-project:last-of-type {
      margin-bottom: 0;
   }
}

// Components
.custom-checkbox {
   width: 20rem;

   .form-check-label {
      font-weight: bold;
      font-size: 1rem;
   }
}

// Content
.logo-icons {
   width: 75px;
   height: auto;
} 

// Style
.mask-dark {
   @include mask-dark;
}

// HD+ Devices
@media only screen and (max-width: 1899px) {
   .logo-icons {
      width: 50px;
      height: auto;
   }
}

// Extra large devices
@media only screen and (max-width: 1399px) {
   .intro {
      .intro-title {
         font-size: 3.5rem
      }
      .intro-sub-title {
         font-size: 2rem;
      }
      .intro-text {
         font-size: 1.35rem;
      }
   }
   #weekly-progress-intro {
      height: 60vh;
   }
   .logo-icons {
      width: 50px;
      height: auto;
   } 
}

// Small devices (portrait)
@media only screen and (max-width: 767px) and (orientation: portrait) {
   .intro {
      .intro-title {
         font-size: 2.5rem
      }
      .intro-sub-title {
         font-size: 1.75rem;
      }
      .intro-text {
         font-size: 1rem;
      }
   }
   #weekly-progress-intro {
      height: 60vh;
   }
}

// Small devices (landscape)
@media only screen and (max-width: 933px) and (orientation: landscape) {
   .intro {
      .intro-title {
         font-size: 2.5rem
      }
      .intro-sub-title {
         font-size: 1.75rem;
      }
      .intro-text {
         font-size: 1rem;
      }
   }
   #weekly-progress-intro {
      height: 80vh;
   }
}
