// Old code from my private project
// Text
@mixin title
{
    font-family: $font-title;
    font-weight: 900;
    color: $secondary-main;
}
@mixin sub-title
{
    font-family: $font-title;
    font-weight: 700;
    color: $secondary-main;
}
@mixin text
{
    font-family: $font-text;
    font-weight: normal;
    color: $secondary-main;
}
// Old code from my private project

// Components
@mixin hr-heading($color: black) {
    border: 0.35rem $color solid;
    width: 8vw;
    opacity: 0.8;
}

// Style
@mixin mask-dark($opacity: 0.15) {
    background-color: rgba(251, 251, 251, $opacity);
}

// Animation
@mixin nav-item-border
{
    content: '';
    position: absolute;
    width: 0px;
    height: 6px;
    left: 0%;
    bottom: 0;
    background-color: $secondary-dark;
    transition: all ease-in-out .2s;
}
