// Colors
$primary-main: #FBFBFB;
$primary-light: #FFEBEE;
$primary-dark: #CC0000;

$secondary-main: #332D2D;
$secondary-light: white;
$secondary-dark: #1E88E5;

// Fonts
$font: "Roboto", Arial, Verdana, sans-serif;

// Border
$border-navbar-hover: 4px solid $secondary-dark;
